body {
  margin: 0;
  padding: 0;
  background: #000;
}
.img-container {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 10px;
}

.img-gallery {
  display: flex;
  gap: 10px;
  height: 435px;
}

.img-gallery > div {
  flex: 1;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: auto 100%; */
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.img-gallery > div:hover {
  flex: 5;
  border-radius: 15px;
}
